.btn{
    display:block;
    width:100%;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color:white;
    background:black;
    padding:0;
    margin:0 auto;
    cursor:pointer;

}